$heading-font-family: "Alegreya", serif;
$content-font-family: "Lato", sans-serif;
$content-text-color: "#333";
$filter-buttons-background-color: hsla(216, 98%, 54%, 1);

.airline-divs {
  margin-left: 0;
  margin-right: 0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-items: center;
  width: 80%;
  margin: auto;
}
