@import "../public/sass/variables";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  color: $content-text-color;
}

body,
p,
button a {
  font-family: $content-font-family;
}

a {
  text-decoration: none;
  color: #333;
}

.width {
  width: 100%;
}

// .airline-link:hover {
//   background: hsla(176, 100%, 92%, 1);
//   border: none;
// }
// .list-flex:nth-child(even) {
//   background-color: hsla(216, 98%, 94%, 1);
//   border: none;
// }

.button-contain {
  outline: 1px solid #333;
}

.Links {
  background: "green";
}
