.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

a {
  text-decoration: none;
  color: #333;
}

.list-flex {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.width {
  width: 100%;
}
/* .airline-link {
  background: hsla(176, 100%, 96%, 1);
} */
.airline-link:hover {
  background: hsla(176, 100%, 92%, 1);
  border: none;
}
