@import "../public/sass/variables";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  color: $content-text-color;
}

body,
p,
button a {
  font-family: $content-font-family;
}

a {
  text-decoration: none;
  color: #333;
}

.list-flex {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.width {
  width: 100%;
}
/* .airline-link {
  background: hsla(176, 100%, 96%, 1);
} */
.airline-link:hover {
  background: hsla(176, 100%, 92%, 1);
  border: none;
}
.list-flex:nth-child(even) {
  background-color: hsla(216, 98%, 94%, 1);
  border: none;
}

.btn.filter-buttons {
  background-color: $filter-buttons-background-color;
  &.active:hover {
    background-color: hsla(216, 98%, 64%, 1);
  }
  &.active:focus {
    // outline: 1.5px solid #333;
    // outline-offset: 4px;
    background-color: hsla(216, 98%, 100%, 1);
    color: #333;
    outline: 2px solid hsla(216, 98%, 54%, 1);
  }
}

.button-contain {
  outline: 1px solid #333;
}

.Links {
  background: "green";
}
